/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/02/05, 17:53:13
    Author     : JP207528
*/

.hd {
    background-color:#CCCCCC
}
.col {
    
}
.col1 {
    background-color: green
}
.col2 {
    background-color: pink
}
.col3 {
    background-color: white
}
.col4 {
    background-color: purple
}
